html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1;
  font-family: Bevan, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  font-family: Bevan, serif;
}

body {
  padding: .5em;
  margin: 0;
}

.topaz li {
  display: inline-block;
  padding: .5em;
  background-color: #713837;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
}

.topaz li:hover {
  background-color: #f33;
}

.topaz {
  margin: 0;
  list-style-type: none;
  text-align: center;
  background-color: #79756f;
  border: 3px solid #595652;
}

.topaz a {
  display: inline-block;
  padding: .5em;
  background-color: #713837;
  border-radius: 2px;
  color: #fff;
  font-family: sans-serif;
}

.topaz a:hover {
  background-color: #f33;
  width: 1px;
}
