html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
  font-family: 'Bevan', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Bevan';
}

body {
  padding: .6em;
  margin: 0;
}

.topaz li {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 4px;
  color: #fff;
}

.topaz li:hover {
  background-color: #f33;
}

.topaz {
  margin: 0;
  padding: .6em;
  list-style-type: none;
  text-align: center;
  background-color: #79756f;
  border: 3px solid #595652;
}
